#line1,
#line2 {
  font-size: 4rem;
  padding: 0;
  line-height: 0;
  font-family: "ngp-75";
}
#line1 {
}

#line2 {
  margin-left: 12rem;
}

.introductionMainContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-right: 5em;
  padding-left: 5em;
}

.introContent1,
.introContent2,
.introContent3 {
  display: flex;
  justify-content: space-around;
  align-items: self-end;
  gap: 3rem;
  margin-bottom: 2rem;
}
.intro1,
.intro2,
.intro3 {
  font-family: "ngp-55";
}
.introLine {
  width: 0.8rem;
  margin-right: 5rem;
}

.introImage {
  width: 17em;
}

/* .introContent2{
    display: none;
}

.introContent3{
    display: none;
} */
.hearIntro {
  background: linear-gradient(90deg, #fbbc04 26.4%, #ff5050 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 0.15em;
}

.introContent h1 {
  font-family: "ngp-75";
}
