body {
  /* margin: 0.5em 5em 0.5em 5em; */
  margin: 0 auto;
  overflow-x: hidden;
}

/* scroll bar */
/* scroll bar */

.topContainer {
  background-image: url("./assets/hero/heroBg.png");
  background-size: 100vw 110vh;
  background-repeat: no-repeat;
}

/* fonts */
@font-face {
  font-family: "ngp-55";
  src: url("./assets/hero/fonts/ngp/NeueHaasDisplayRoman.ttf")
    format("opentype");
}
@font-face {
  font-family: "ngp-65";
  src: url("./assets/hero/fonts/ngp/NeueHaasDisplayMediu.ttf")
    format("opentype");
}
@font-face {
  font-family: "ngp-75";
  src: url("./assets/hero/fonts/ngp/NeueHaasDisplayBold.ttf") format("opentype");
}
@font-face {
  font-family: "rr";
  src: url("./assets/hero/fonts/ngp/rr.otf") format("opentype");
}
